@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --readit-primary: #14213D;
  --readit-dark: #14171C;
  --readit-light: #F0F0F5;
  font-family: 'Roboto', cursive;
}

.irish-grover {
  font-family: 'Irish Grover', cursive;
}

.lucide-icon {
  vertical-align: middle;
  margin-bottom: 0.125rem; /* 2px */
}

[data-theme="dark"] {
  --bg-primary: var(--readit-dark);
}

[data-theme="light"] {
  --bg-primary: var(--readit-light);
}

body {
  min-width: 320px;
  min-height: 100vh;
}